/* fuente utilziada */
@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
/* cuerpo de la web */
body {
    background-color: deepskyblue;
}
.cuerpo {
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
}
h1 {
    font-family: "Mystery Quest", cursive;
    font-size: 70px;
    text-align: center;
}
/* contenido - contenedor grid apra img y texto*/
.grid-container {
    display: grid;
    grid-template-columns: 471px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "daoko lorem";
    justify-items: center;
    align-items: center;
}
.lorem {
    grid-area: lorem;
    font-size: 35px;
    text-align: center;
    font-family: "Mystery Quest";
}
.daoko {
    grid-area: daoko;
}
/* Efectos de burbuja*/
.burbuja {
    background: #fff;
    border-radius: 50%;
    opacity: .3;
    position: absolute;
    bottom: 0;
    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px; height: 80px;
    left: 90%;
    animation-duration: 6s;
}

.burbuja:nth-child(2){
    width: 100px; height: 100px;
    left: 35%;
    animation-duration: 5s;
}
.burbuja:nth-child(3){
    width: 25px; height: 25px;
    left: 10%;
    animation-duration: 5s;
}
.burbuja:nth-child(4){
    width: 75px; height: 75px;
    left: 1%;
    animation-duration: 7s;
}
.burbuja:nth-child(5){
    width: 66px; height: 66px;
    left: 30%;
    animation-duration: 9s;
}
.burbuja:nth-child(6){
    width: 90px; height: 90px;
    left: 60%;
    animation-duration: 10s;
}
.burbuja:nth-child(7){
    width: 90px; height: 90px;
    left: 50%;
    animation-duration: 9s;
}
.burbuja:nth-child(8){
    width: 125px; height: 125px;
    left: 75%;
    animation-duration: 8s;
}
.burbuja:nth-child(9){
    width: 20px; height: 20px;
    left: 80%;
    animation-duration: 13s;
}
.burbuja:nth-child(9){
    width: 40px; height: 40px;
    left: 25%;
    animation-duration: 13s;
}
.burbuja:nth-child(10){
    width: 15px; height: 15px;
    left: 33%;
    animation-duration: 15s;
}
.burbuja:nth-child(11){
    width: 50px; height: 50px;
    left: 20%;
    animation-duration: 11s;
}
@keyframes burbujas {
    0%{
        bottom: 0;
        opacity: 0;
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
/* video */
.video {
    display: block;
    margin: auto;
}
/* contenido despues de video */
.contenido {
    font-family: "Mystery Quest";
    text-align: center;
    padding: 1px;
}
.contenido h2{
    font-size: 30px;
}
.contenido p{
    font-size: 25px;
}
/* footer */
.footer {
    background: mediumturquoise;
    font-size: 15px;
    padding: 35px 0;
    font-family: "Mystery Quest";
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul {
    margin: 0 auto;
}
.footer-container ul li {
    line-height: 2.5;
}
ul {
    list-style: none;
}
a {
    color:black;
    text-decoration: none;
    font-size: 20px;
}
.footer-copyright {
    text-align: center;
    background: mediumturquoise;
    padding: 0%;
    margin: auto;
}
/* Redes Sociales */
.redes {
    font-size: 25px;
}
.social {
    margin: 50px;
    font-weight: bold;
}
.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}
.links a i {
    font-size: 3rem;
}
/* resposive */
@media only screen and (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "daoko"
        "lorem";
        padding: 0%;
    }
    .video {
        width: 550px;
        height: 870;
    }
    .footer{
        font-size: auto;
    }
    .footer a{
        font-size: 15px;
        margin: 10px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2px;
        margin-top: 5px;
        line-height: 1px;
    }
    .footer-container ul li a {
        display: grid;
        grid-template-rows: auto;
        gap: 5px;
        margin-top: 5px;
        line-height: 5px;
        align-items: center;
        justify-content: center;
        padding: 6px;
    }
}
